@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base */
html {
  scroll-behavior: smooth;
}

ul,
li {
  @apply list-none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container {
  @apply max-w-6xl px-4 mx-auto;
}

.custom-shadow-1 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.primary-btn {
  background-image: linear-gradient(-60deg, #fff 50%, transparent 0);
  background-position: 0% 50%;
  background-size: 400% 400%;
  @apply py-2 px-4 flex items-center justify-center gap-x-1 rounded-sm 
  border-[1.5px] border-primary bg-primary text-white text-[15px];
  transition: color 0.3s ease-in-out, background-position 0.3s ease-in-out;
}

.primary-btn:hover {
  background-position: 100% 50% !important;
  @apply text-primary bg-white;
}

.section-title {
  @apply font-bold text-2xl mb-5;
}

/* Header */
.header-item-list {
  @apply flex items-center justify-around w-[42%];
}

.header-item-list a {
  @apply relative;
}

.header-item-list-mobile a {
  @apply w-full block py-3 border-b relative;
}

.header-item-list li:hover a::after,
.header-item-list-mobile li:hover a::after {
  width: 100%;
}

.header-item-list a::after,
.header-item-list-mobile a::after {
  content: "";
  @apply absolute -bottom-1 left-0 h-[3px] bg-primary w-0 transition-width duration-500;
}

.header-item-list-mobile a::after {
  @apply h-[2px] bottom-0;
}

/* Home Swiper */
.homeSwiper {
  @apply w-full aspect-[2.3] cursor-pointer;
}

.homeSwiper:hover .swiper-button-prev,
.homeSwiper:hover .swiper-button-next {
  @apply -translate-x-6 opacity-100 transition duration-500;
}

.homeSwiper:hover .swiper-button-next {
  @apply translate-x-6;
}

.homeSwiper .swiper-button-prev,
.homeSwiper .swiper-button-next {
  @apply text-white scale-[0.4] -translate-y-[30px] w-[90px] h-[90px] transition duration-500 
  bg-[rgba(102,102,102,0.354)] grid place-items-center translate-x-0 opacity-0
  rounded-full border-white border-4 hover:border-none hover:bg-[#2b2b2b];
}

.homeSwiper .swiper-pagination-bullet {
  @apply w-10 h-1 rounded-full border-[2px] border-[#7a7e7a] opacity-60 bg-transparent max-[700px]:w-4;
}

.homeSwiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-primary border-none;
}

/* Home Car Categories */
.car-categories-section {
  background: url("../public/assets/images/home/bg-slide-product.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 40%;
}

.car-categories-menu,
.car-categories-menu-sm {
  @apply flex items-center gap-10 text-primary text-lg font-bold w-max custom-shadow-1 border-[0.5px] border-[#05141e61] rounded-[10px];
}

.car-categories-menu button,
.car-categories-menu-sm button {
  @apply p-4 border-b-[2px] border-transparent;
}

.car-categories-menu-sm {
  @apply text-sm gap-0 w-full justify-between rounded-sm shadow-md;
}

.car-categories-menu-sm button {
  @apply py-3 rounded-sm;
}

.car-categories-swiper .swiper-button-prev,
.car-categories-swiper .swiper-button-next {
  @apply top-[90%] text-white scale-[0.4] w-[100px] h-[100px] transition duration-500 
  bg-[#05141F1A] grid place-items-center rounded-full;
}

.car-categories-swiper .swiper-button-prev {
  @apply left-[46%] max-[1100px]:left-0;
}

.car-categories-swiper .swiper-button-next {
  @apply right-[39.75%] max-[1100px]:right-0;
}

.car-categories-swiper .swiper-pagination-current {
  @apply text-xl font-medium;
}

.car-categories-swiper .swiper-pagination {
  @apply text-[10px] -ml-12 bottom-5 max-[1100px]:ml-0 max-[1100px]:bottom-[55px];
}

.car-categories-swiper .swiper-button-next::after,
.car-categories-swiper .swiper-button-prev::after {
  content: "";
}

.car-categories-swiper .swiper-button-prev,
.car-categories-swiper .swiper-button-next {
  background-image: url("../public/assets/images/home/icons/left-default.png") !important;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50%;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.car-categories-swiper .swiper-button-next {
  background-image: url("../public/assets/images/home/icons/right-default.png") !important;
}

.car-categories-swiper .swiper-button-next:hover {
  background-color: #05141f;
  background-image: url("../public/assets/images/home/icons/right-active.png") !important;
}

.car-categories-swiper .swiper-button-prev:hover {
  background-color: #05141f;
  background-image: url("../public/assets/images/home/icons/left-active.png") !important;
}

.car-specifications {
  @apply text-white text-[15px] space-y-3 ml-auto w-max;
}

.car-specifications li {
  @apply flex items-center gap-2 max-[1100px]:flex-col max-[1100px]:py-10;
}

/* Home Main Options Swiper */

.main-options-swiper .swiper-pagination {
  @apply max-[1100px]:hidden;
}

.main-options-swiper .swiper-pagination-bullet {
  @apply w-[6px] h-[6px] rounded-full z-50 bg-white opacity-80;
}

.main-options-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-transparent w-8 h-[6px] bg-white opacity-100;
}

/* Footer */
.footer-title {
  @apply font-bold uppercase text-white mb-3;
}

.footer-item {
  @apply text-[#999999] text-xs my-[10px] hover:text-white leading-5 transition;
}

.footer-icon {
  @apply relative w-7 h-7 rounded-full overflow-hidden;
}

.form-input-wrapper {
  @apply flex flex-col gap-1;
}

.form-input-label {
  @apply text-primary text-[13px];
}

.form-input {
  @apply px-4 py-2 rounded-sm border outline-none text-sm;
}

.footer-accordion-list {
  @apply space-y-3;
}

.footer-accordion-list li {
  @apply list-disc ml-3 transition;
}

.footer-accordion-list li:hover {
  @apply text-white;
}

/* Single Car Page */
.car-general-info > div {
  @apply grid grid-cols-2;
}

.car-general-info li {
  @apply p-[10px] mb-[2px] bg-[#f5f5f5] text-sm;
}

/* Single Car Page */
.car-promotion-ul {
  @apply space-y-3;
}

.car-promotion-ul li {
  @apply !list-disc leading-7 ml-6;
}

.car-promotion-ul strong {
  @apply text-secondary;
}

.car-promotion-ul .small-text {
  @apply text-[12px] italic mt-1 block;
}

.car-price-table {
  @apply w-full rounded-sm max-[800px]:text-sm max-[650px]:text-xs;
}

.car-price-table td {
  @apply border;
}

.car-price-table .table-title {
  @apply bg-secondary text-white uppercase font-bold text-xl py-3 text-center border-secondary;
}

.car-price-table .table-group-heading {
  @apply text-secondary font-bold;
}

.car-price-table .table-group-heading td,
.car-price-table .table-group-content td {
  @apply py-4 text-center;
}

/* Single Car Page Sticky Header */

.car-page-sticky-item {
  @apply relative px-2 py-[6px] rounded-sm border border-transparent text-white text-sm font-bold transition max-[903px]:text-center;
}

.car-page-sticky-item:hover::after {
  width: 100%;
}

.car-page-sticky-item::after {
  content: "";
  @apply absolute bottom-0 left-0 h-[3px] bg-white w-0 transition-width duration-500;
}

/* Single Car Page Tables */

.calculate-price-table {
  @apply p-5 w-full border border-[#eee] rounded-sm shadow-md;
}

.price-table {
  @apply my-8;
}

.price-table td {
  @apply border border-[#80808080] px-[10px] py-2;
}

.price-table tbody td {
  @apply text-primary;
}

.price-table thead {
  @apply bg-primary text-white font-bold;
}

.price-table tbody tr:nth-child(odd) {
  @apply bg-[#F4F9FE];
}

.interest-table td {
  @apply text-center py-1 text-sm;
}

.calculate-price-table-title {
  @apply border-b border-secondary text-secondary font-bold text-xl;
}

.form-input-wrapper {
  @apply flex flex-col gap-1;
}

.form-input-label {
  @apply text-primary text-[13px];
}

.form-input {
  @apply px-4 py-2 rounded-sm outline-none;
}

.calculate-price-table-control {
  @apply flex items-center mb-5 gap-1 max-[670px]:flex-col max-[670px]:items-start;
}

.calculate-price-table-control label {
  @apply w-1/3 max-[670px]:w-full;
}

.calculate-price-table-control input,
.calculate-price-table-control select,
.calculate-price-table-control div {
  @apply flex-1 border border-[#ccc] bg-[#f9fafb] outline-none rounded-md px-3 py-2 max-[670px]:w-full;
}

.components-price-list li {
  @apply flex justify-between gap-2;
}

.components-price-list span {
  @apply block text-right;
}

/* Single Car Image Gallery */
/* Car Image Gallery */

.carousel .thumbs {
  text-align: center;
}

.carousel .thumb {
  @apply !w-10 !h-10 rounded-full;
}

.carousel .thumb:hover,
.carousel .thumb.selected {
  @apply !border-[3px] !border-[#686868];
}

.carousel .thumb {
  @apply !border !border-[#ccc];
}

.carousel-status {
  @apply hidden;
}

/* Post content */
.postContent {
  @apply mt-8 text-primary text-sm leading-[26px];
}

.postContent a {
  @apply no-underline font-bold;
}

.promotion-ul {
  @apply list-disc space-y-2 ml-3;
}

.post-img-wrapper,
.post-img-wrapper-no-margin {
  @apply relative w-full aspect-[3/2] mb-[80px] rounded-b-sm;
}

.post-img-wrapper-no-margin {
  @apply !mb-0;
}

.post-img-title {
  @apply absolute -bottom-11 left-0 w-full bg-[rgba(0,0,0,0.05)] text-center block py-2 px-1 text-zinc-500 !line-clamp-1;
}

.postContent img {
  @apply rounded-t-sm m-0;
}

.postContent h2,
.postContent h3 {
  @apply w-fit px-3 py-[9px] text-xl font-bold bg-secondary text-white relative uppercase max-[500px]:w-full;
}

.postContent h2::after {
  content: "";
  @apply absolute bottom-0 left-0 w-[2000px] h-[2px] bg-secondary block;
}

.postContent h3 {
  @apply bg-primary text-base capitalize;
}

.postContent .grid-2-cols {
  @apply grid grid-cols-2 gap-3 max-[610px]:grid-cols-1;
}

.postContent li {
  @apply list-disc;
}

.postContent .normal-heading-3 {
  @apply bg-transparent text-primary px-0;
}

/* Paginagation */
.pagination .page-link {
  @apply !rounded-sm grid !text-primary;
}

.pagination .page-item.active .page-link {
  @apply bg-primary border-primary !text-white;
}

.pagination .page-item .page-link span {
  @apply text-xl leading-none;
}

.pagination .page-item.disabled .page-link {
  @apply !text-[#ccc];
}

/* Posts Page Header */
.posts-page-header {
  @apply bg-white border-b-[2px] border-[#e5e5e5];
}

.posts-page-header a {
  @apply relative px-3 py-4 font-bold hover:opacity-100 transition max-[550px]:text-sm;
}

.posts-page-header a::after {
  content: "";
  @apply absolute bottom-0 left-0 h-[3px] bg-primary w-0 transition-width duration-500;
}

.posts-page-header a:hover::after {
  width: 100%;
}

/* Prose */
.prose table {
  @apply text-center text-sm border rounded-sm;
}

.prose table td {
  @apply py-3 border;
}

.prose table thead tr {
  @apply font-bold bg-primary text-white border border-primary;
}

.prose .styled-table td {
  @apply text-left px-3;
}

.prose .styled-table .special-td {
  @apply font-bold !text-right text-red-700 w-[20%];
}

.prose .table-title {
  @apply -mt-3 mb-10 font-bold text-center opacity-50;
}

/* Contact Table */
.contact-table table td {
  @apply py-2 text-sm;
}

.contact-table table tr {
  @apply border-b border-[#ececec];
}

/* Sticky Btns */
.shadow-stickyBtns {
  box-shadow: 0px 0px 1px 1px rgba(192, 192, 192, 0.3);
}

/* Search Block */
.shadow-search-block {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* Installment page */

.installment-block,
.installment-block-sm {
  @apply p-6 border border-dashed border-secondary rounded-md mt-6;
}

.installment-block h3 {
  @apply mx-auto font-bold uppercase text-secondary text-2xl mb-4 bg-transparent;
}

.installment-block ol {
  @apply list-decimal ml-6 space-y-3 text-primary;
}

.installment-block ol ul {
  @apply list-disc ml-4;
}

.installment-block ol ul li {
  @apply pt-2;
}

.installment-block span {
  @apply italic text-primary mt-3 block;
}

.installment-block-sm {
  @apply border-secondary;
}

.installment-block-sm p {
  @apply grid place-items-center mb-3;
}

.installment-block-sm h3 {
  @apply text-center font-bold text-secondary text-xl mb-3 bg-transparent;
}

.installment-block-sm ol {
  @apply list-decimal ml-6 space-y-2;
}

/* Responsive */
@media screen and (max-width: 1100px) {
  .car-categories-section {
    background: none;
  }

  .car-categories-menu {
    @apply w-full grid grid-cols-4 mx-auto gap-2;
  }

  .car-specifications {
    background: url("../public/assets/images/home/bg-slide-product-mobile.png");
    background-repeat: none;
    background-size: cover;

    @apply w-full space-y-0 grid grid-cols-3 gap-3 ml-0
      mt-3 text-xs;
  }
}

@media screen and (max-width: 702px) {
  .car-categories-menu {
    @apply grid-cols-2 text-sm;
  }

  .car-categories-swiper .swiper-pagination {
    @apply bottom-10;
  }
}

@media screen and (max-width: 525px) {
  .car-specifications {
    @apply grid-cols-1;
  }

  .car-specifications li {
    @apply py-5;
  }
}
